.todo{
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-size: 14px;

  &__sidebar{
    background-color: #f4f6f8;
    width: 200px;
    height: calc(100% - 120px);
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }

  &__tasks {
    flex: 1;
    padding: 60px;
  }
}

.button{
  background: #14eb92;
  border-radius: 4px;
  color: white;
  border: 0;
  padding: 5px 20px;
  font-size: 14px;
  font-family: sans-serif;

  &:hover{
    background: #14c36c;
  }

  &:active{
    background: #14b45e;
  }

  &:disabled {
    background: #d8d8d8;
  }

  &--grey{
    background: #f4f6f8;
    color: #444;

    &:hover{
      background: darken(#f4f6f8, 4%);
    }

    &:active{
      background: darken(#f4f6f8, 8%);
    }
  }
}

.field{
  background: #ffff;
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;

  &:focus{
    border-color: #c4c4c4;
  }

}
